# WARNING: Do NOT copy this file from one router to another, this may cause serious problems.
# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: Jan 3, 2025, 11:56 AM
i2np.bandwidth.inboundBurstKBytes=1953105
i2np.bandwidth.inboundBurstKBytesPerSecond=97655
i2np.bandwidth.inboundKBytesPerSecond=97605
i2np.bandwidth.outboundBurstKBytes=1953105
i2np.bandwidth.outboundBurstKBytesPerSecond=97655
i2np.bandwidth.outboundKBytesPerSecond=97605
i2np.ntcp.port=12345
i2np.ntcp2.iv=qZ-0BjruOgdLsSpD~6N3sQ==
i2np.ntcp2.sp=Q5z0d0zglOCsPF3XY8FPrY3VWT~vOUifvXSVnPK-RFI=
i2np.ssu2.ikey=3uaGLAHCIRETYeZcCuA7-YR7aNhJawPisU49ql9BFR0=
i2np.ssu2.sp=aFqQfX5lngQKaqBYotXG6R9sVXtkTtezxgCHinEbKu8=
i2np.udp.internalPort=12345
i2np.udp.port=12345
i2p.dir.base=/i2p
i2p.dir.config=/i2p/.i2p
jbigi.lastProcessor=Kaby Lake Core i3/i5/i7/64
jbigi.loadedResource=libjbigi-linux-skylake_64.so
router.blocklistVersion=1728134844000
router.firstInstalled=1734900725627
router.firstVersion=2.7.0
router.inboundPool.randomKey=IF8UwrdMd5HQieJ8f-2O6qhOK4e4F6L4q~D~E3IKyzM=
router.outboundPool.randomKey=CE0lsvzLxEvhkmP1~Pw-hTMF9fJN5ujDtHmT-scXesw=
router.passwordManager.migrated=true
router.previousVersion=2.7.0
router.sharePercentage=80
router.startup.jetty9.migrated=true
router.updateDisabled=true
router.updateLastInstalled=1734900725627
routerconsole.auth.enable=true
routerconsole.auth.i2prouter.admin.md5=28972d3fa4219f4a69b0284eeb05e43e
routerconsole.country=
routerconsole.lang=en
routerconsole.newsLastChecked=1735905385603
routerconsole.newsLastLanguage=en
routerconsole.newsLastNewEntry=1728434509000
routerconsole.newsLastUpdated=1728434509000
routerconsole.theme=dark
routerconsole.universal.theme=true
routerconsole.welcomeWizardComplete=true
